name: Continuous Deployment
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: echo "Setting up NodeJs"
      - name: Setup NodeJs
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - run: npm install -g surge
      - run: echo "Deploying website"
      - run: surge ./ ${{ secrets.SURGE_DOMAIN_SANAM }} --token ${{ secrets.SURGE_TOKEN_SANAM }}

      - run: echo "Please visit => ${{ secrets.SURGE_DOMAIN_SANAM }}"
